.BookmarksWidget .list{
    margin-left: 0px;
    /*cursor:pointer*/
}
.bookmark{
    width: 70%;
}
.clearIcon {
    background-image: url(../images/clear.png);
    width: 16px;
    height: 16px;
}
.addIcon {
    background-image: url(../images/add.png);
    width: 16px;
    height: 16px;
}
