<div style="position:absolute;bottom:10px;left:200px;z-index:40;">
    <div id="mapInfoDijit">
    </div>
</div>
<div style="position:absolute;top:40px;right:10px;z-index:40;">
    <div id="basemapsDijit">
    </div>
</div>
<div style="position:absolute;top:60px;right:20px;z-index:40;width:250px;">
    <div id="growlerDijit">
    </div>
</div>
<div style="position: absolute;left:50px;top:10px;z-index:40;">
    <div id="timeSlider">
    </div>
</div>
<div style="position: absolute;left:5px;top:100px;z-index:40;">
    <div id="homeButton">
    </div>
    <div id="locateButton" style="margin-top:5px;">
    </div>
    <div id="threeDButton" style="margin-top:5px;">
    </div>
</div>
<div style="position:absolute;top:20px;left:64px;z-index:40;">
    <div id="geocoderButton">
    </div>
</div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>